<!-- Faça um componente que tenha no mínimo 3 atributos, sendo um numérico. O componente deve ter um evento de escolha que submete-o a aplicação.
Faça uma aplicação que tenha um array de componentes e os instancie.
A aplicação deve, quando solicitada exibir o resumo dos componentes escolhidos. 
Aluno: Felipe Celestino Muros -->
<!DOCTYPE html>
<html>

<head>
    <title>Locadora de Jogos</title>

    <meta charset="utf-8">
    <meta name="color-scheme" content="light dark">
    <meta name="theme-color" content="#fff">
    <link rel="stylesheet" href="estilo-flex.css">    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    
</head>

<body>
  <div id="app">
    <header>        
        <button id="btnAddJogo" v-on:click="menuAddJogo()">Adicionar jogo</button>
        <div id="addJogo" style="visibility: hidden; display: none;">
          <form id="formulario" autocomplete="off">
            <fieldset>
              <legend>Adicionar novo jogo</legend>
              <label>Título:</label><input type='text' v-model='jogo.nome' id="campo-nome"><br>
              <label>Valor alugel:</label> <input type='number' step="0.01" min="0" v-model='jogo.valor' id="campo-valor"><br>
              <label>Quantidade disponível:</label> <input type='number' min="1" v-model='jogo.estoque' id="campo-estoque"><br>
              <label>URL da imagem:</label> <input type='text' v-model='jogo.imagem' id="campo-imagem"><br><br>
              <button v-on:click="adicionarJogo()" id="btn-add">Adicionar jogo</button>
            </fieldset>
          </form>
        </div>
        
    </header> 
    <br>
    <div class="cart">
      <label>Carrinho: </label><button type="button" class="btn btn-primary" @click="verSairCarrinho()"><i class="fa fa-shopping-basket">{{carrinho.length}}</i></button>
    </div>
    <!-- Jogos disponíveis -->
    <h2 id = "jogosDisponiveisTitulo" style="visibility: visible; display: flex;">Jogos disponíveis:</h2>
    <div class="flex-container" id = "jogosDisponiveis" style="visibility: visible; display: flex;">      
      <produto v-for="(produto,index) in produtos" :id=produto.id 
        :nome=produto.nome
        :imagem=produto.imagem 
        :estoque=produto.estoque 
        :valor=produto.valor			
        @carrinho='adicionaCarrinho'></produto>
    </div>

     <!-- Carrinho -->     
     <div class="flex-container-carrinho" id = "carrinho-cliente" style="visibility: hidden; display: none;">
      <h2>Jogos no carrinho:</h2>      
      <h3 id="carrinhoVazio" style="visibility: hidden; display: none;">Seu carrinho está vazio!</h3>
      <produto-carrinho v-for="(cart,index) in carrinho" :id=cart.id 
        :nome=cart.nome
        :imagem=cart.imagem          
        :valor=cart.valor			
        @carrinho='removerCarrinho'></produto-carrinho>  
        <h4>Total do carrinho: R$ {{ totalCarrinho() }}</h4>        
        <button class="color-box" @click="verSairCarrinho()">Adicionar mais jogos</button>               
    </div>  
  </div>      
</body>

<script>
Vue.component('produto', {
	template: 
	'  <div class="flex-item">'+ 
  '      <h3>{{ nome }}</h3>'+
  '      <img :src="imagem" class="game-pic"/>'+ 
  '      <p>Valor do aluguel: R$ {{ valor }}</p>'+
  '      <p v-if="estoque > 0"> Disponível</p>'+
  '     <p v-else> Indisponível</p> '+
  '      <button v-if="estoque > 0" @click="compra(id)" > '+
  '        <div  class="color-box">Alugar</div>      '+
  '      </button> '+
  '  </div>  ', 
  props: ['id','nome','imagem','estoque','valor'],
  data: function () {
    return {		
	  }
  },  
   methods: {
      compra(id) {
          this.$emit('carrinho',id)
      }
  },
})
Vue.component('produto-carrinho', {
	template: 
  '  <div class="flex-item-carrinho">'+
  '      <h4>{{ nome }}</h4>'+
  '      <img :src="imagem" class="game-pic-carrinho"/>'+
  '      <p>Valor do aluguel: R$ {{ valor }}</p>'+
  '     <button @click="removerCarrinho(id)" > '+
  '        <div  class="color-box">Remover</div>      '+
  '     </button> '+
  '  </div>  ', 
  props: ['id','nome','imagem','estoque','valor'],
  data: function () {
    return {		
	  }
  }, 
  methods: {
      removerCarrinho(id) {
          this.$emit('carrinho',id)         
      }
  },
})
var app = new Vue({
  el: '#app',
  data() {
    return {
      produtos:[
        {id: 0, nome: 'The Legend of Zelda™: Breath of the Wild', imagem: 'https://assets.nintendo.com/image/upload/c_pad,f_auto,h_613,q_auto,w_1089/ncom/pt_BR/games/switch/t/the-legend-of-zelda-breath-of-the-wild-switch/hero?v=2022021721', valor: 15.50, estoque: 5},
        {id: 1, nome: 'Mario Kart™ 8 Deluxe', imagem: 'https://assets.nintendo.com/image/upload/c_pad,f_auto,h_613,q_auto,w_1089/ncom/pt_BR/games/switch/m/mario-kart-8-deluxe-switch/hero?v=2022021722', valor: 15.50, estoque: 8},
        {id: 2, nome: 'Mario Strikers™: Battle League', imagem: 'https://assets.nintendo.com/image/upload/c_pad,f_auto,h_613,q_auto,w_1089/ncom/pt_BR/games/switch/m/mario-strikers-battle-league-switch/hero?v=2022021722', valor: 19.50, estoque: 8},
        {id: 3, nome: 'Kirby™ and the Forgotten Land', imagem: 'https://assets.nintendo.com/image/upload/c_pad,f_auto,h_613,q_auto,w_1089/ncom/pt_BR/games/switch/k/kirby-and-the-forgotten-land-switch/hero?v=2022030913', valor: 19.50, estoque: 4},
      ],
      carrinho: [],
      current: 0,
      jogo: {
        id: 0,
        nome: "",
        valor: 0.00,
        estoque: 0,
        imagem: "",
        }, 
    }
  },
  methods: {
    adicionaCarrinho(index) {        
        if (this.produtos[index].estoque > 0){ 
            this.jogo = Object.assign({}, this.produtos[index]);
            var idNova = parseInt(this.carrinho.length)
            if (idNova != 0){
              idNova = idNova+=1;
            } 
            this.jogo.id = idNova;             
            this.carrinho.push(Object.assign({}, this.jogo));
            this.produtos[index].estoque = this.produtos[index].estoque -1; 
            this.limparInfoJogo();                               
          }         
        else {
          alert("Jogo sem estoque para aluguel");
        }
         
    },
    adicionarJogo(){
        if (this.jogo.titulo != "") {
            var id = parseInt(this.produtos.length)
            if (id != 0){
              id = id+=1;
            }            
            this.produtos.id = id;
            this.produtos.push(Object.assign({}, this.jogo));  
            this.limparInfoJogo();          
        }else{
            alert("Insira o título do jogo para adicionar");
        }        
    },
    limparInfoJogo(){
      this.jogo.id = 0;                           
      this.jogo.nome ="";
      this.jogo.valor = 0.00;
      this.jogo.estoque = 0;
      this.jogo.imagem =""; 
    },
    removerCarrinho(id){
      var idCarrinho = this.carrinho.findIndex(e => e.id === id); 
      var idProdutos = this.produtos.findIndex(e => e.nome === this.carrinho[idCarrinho].nome);     
      this.$delete(this.carrinho, idCarrinho);
      this.produtos[idProdutos].estoque += 1;
      this.limparInfoJogo()
    },
    menuAddJogo(){
     if (document.getElementById("addJogo").style.visibility == "hidden"){
      document.getElementById("addJogo").style.visibility = "visible";
      document.getElementById("btnAddJogo").firstChild.data = "Ocultar Menu adicionar jogo"
      document.getElementById("addJogo").style.display = "flex";
     }
      else{
        document.getElementById("addJogo").style.visibility = "hidden";
        document.getElementById("btnAddJogo").firstChild.data = "Adicionar jogo"
        document.getElementById("addJogo").style.display = "none";
      }
     },
     verSairCarrinho() {
      if (document.getElementById("jogosDisponiveis").style.visibility == "visible"){
        document.getElementById("jogosDisponiveis").style.visibility = "hidden";
        document.getElementById("jogosDisponiveis").style.display = "none";
        document.getElementById("jogosDisponiveisTitulo").style.visibility = "hidden";
        document.getElementById("jogosDisponiveisTitulo").style.display = "none";
        document.getElementById("carrinho-cliente").style.visibility = "visible";
        document.getElementById("carrinho-cliente").style.display = "flex";
        if (this.carrinho.length == 0)
        {
          document.getElementById("carrinhoVazio").style.visibility = "visible";
          document.getElementById("carrinhoVazio").style.display = "flex";
        }
        else{
          document.getElementById("carrinhoVazio").style.visibility = "hidden";
          document.getElementById("carrinhoVazio").style.display = "none";
        }
      }
      else{
        document.getElementById("jogosDisponiveis").style.visibility = "visible";
        document.getElementById("jogosDisponiveis").style.display = "flex";
        document.getElementById("jogosDisponiveisTitulo").style.visibility = "visible";
        document.getElementById("jogosDisponiveisTitulo").style.display = "flex";
        document.getElementById("carrinho-cliente").style.visibility = "hidden";
        document.getElementById("carrinho-cliente").style.display = "none";     
      }      
     },
     totalCarrinho() {
        var total = 0;
        for (var i=0; i < this.carrinho.length; i++) {
          total = total + this.carrinho[i].valor;
        }        
        return total;
      },  
  }       
})
</script>
</html>